<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.owner.shopping_goods_service.mapper.SpecificationMapper">
    <resultMap id="specificationMapper" type="com.owner.shopping_common.pojo.Specification">
        <id property="id" column="bid"></id>
        <result property="specName" column="specName"></result>
        <result property="productTypeId" column="productTypeId"></result>
        <collection property="specificationOptions" column="specId"
                    ofType="com.owner.shopping_common.pojo.SpecificationOption">
            <id property="id" column="oid"></id>
            <result property="optionName" column="optionName"></result>
            <result property="specId" column="specId"></result>
        </collection>
    </resultMap>
    <select id="findById" parameterType="Long" resultMap="specificationMapper">
        select bs.id as bid,bs.specName,bs.productTypeId,
               bso.id as oid,bso.optionName,bso.specId
        from bz_specification bs
            left join bz_specification_option bso
                on bs.id=bso.specId
        where bs.id=#{id};
    </select>

    <select id="findByProductTypeId" parameterType="Long" resultMap="specificationMapper">
        select bs.id as bid,bs.specName,bs.productTypeId,
               bso.id as oid,bso.optionName,bso.specId
        from bz_specification bs
                 left join bz_specification_option bso
                           on bs.id=bso.specId
        where bs.productTypeId=#{productTypeId};
    </select>
</mapper>